<div class="field">
  <label class="label"><%- key.charAt(0).toUpperCase() + key.slice(1);  %></label>
  <div class="control">
    <color name="<%= key %>" value="<%= typeof obj !== 'undefined' && obj ? obj[key] : '#a5a5a5' %>" ></color>
  </div>
</div>