<div class="field">
  <label class="label"><%- key.charAt(0).toUpperCase() + key.slice(1);  %></label>
  <div class="control">
    <input class="input" type="text" name="<%= key %>" value="<%= typeof obj !== 'undefined' && obj ? obj[key] : '' %>">
  </div>
</div>