<div class="field">
    <label class="label"><%- key.charAt(0).toUpperCase() + key.slice(1);  %></label>
    <div class="control">
      <multiselect props-value="<%= value ? value : '[]' %>" props-options="<%= target ? target : '[]' %>" name="<%= key %>" ></multiselect>
    </div>
  </div>