<% layout('layout') -%>
<div class="main-container">
    <a href="/route" class="button is-info"><i class="fas fa-arrow-circle-left m-right-5"></i>Back</a>
</div>
<!-- <div class="card">
  <div class="card-content"> -->
    <form action="/route/<%= route.id %>" method="post">
      <input type="hidden" name="_method" value="put" />
      <%- include('../../include/form_field/input', {obj: route, key: 'title'}) %>
      <%- include('../../include/form_field/dropzone', {obj: route, key: 'thumbnail', max: 1}) %>
      <button class="button is-primary">Submit</button>
    </form>
  <!-- </div>
</div> -->