body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  background: ghostwhite;
}

.fullscreen-container{
  width: 100vw;
  height: 100vh;
}

.main-container{
  margin: 20px 0;
}
