<nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-brand">
          <a class="navbar-item has-white-text" href="/">
            Dashborad
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <!-- <div class="navbar-start">
            <form class="navbar-item" method="POST" action="">
              <div class="field has-addons">
                  <p class="control has-icons-left">
                    <input class="input is-info" type="text" placeholder="Search" name="search">
                    <span class="icon is-small is-left">
                      <i class="fas fa-search"></i>
                    </span>
                  </p>
                <div class="control">
                  <a class="button is-light">
                    Search
                  </a>
                </div>
              </div>
            </form>
        </div> -->
        <div class="navbar-end">
          <a href="#" class="navbar-item">
            <span class="icon">
              <i class="fas fa-user-tie"></i>
            </span>
          </a>
          <a href="/logout" class="navbar-item">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  
</nav>