<nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-brand">
          <a class="navbar-item has-white-text" href="/">
            Dashborad
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-end">
          <a href="#" class="navbar-item">
            <span class="icon">
              <i class="fas fa-user-tie"></i>
            </span>
          </a>
          <a href="/logout" class="navbar-item">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  
</nav>